<!doctype html>

<html class="no-js" lang="no">
 <head>
  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="/static/material-design-iconic-font.min.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">

  <script type="text/javascript" src="https://unpkg.com/vue"></script>
  <script type="text/javascript" src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vuebar"></script>
  <script type="text/javascript" src="/static/vue-websocket.js"></script>
  <script type="text/javascript" src="/static/vue-moment.js"></script>
  
  <style type="text/css">

  </style>
 </head>

 <body>
  <div id="app">
   <header>
    <i class="zmdi zmdi-flash"></i>HomeGhost
    <button :class="[{ connected: is_connected }]" @click="toggle_connection">
     <template v-if="is_connected"><i class="zmdi zmdi-stop"></i>Disconnect</template>
     <template v-if="!is_connected"><i class="zmdi zmdi-play"></i>Connect</template>
    </button>
   </header>

   <section>
    <div class="actors">
     <!--div v-for="actor in actors" class="actor" 
         :class="[{dim: !actor.state.running}, actor.actor.toLowerCase() ]" >
      <h1>{{actor.alias}}</h1>
      <template v-if="actor.state.label">{{actor.state.label}}</template>
     </div-->
     <actors></actors>
    </div>
    <div class="log" v-bar>
     <div>
      <div v-for="event in events" class="event" 
          :class="{dim: event.actions.length == 0}" >
       <h1>{{event.source}}.{{event.name}} [{{event.actions.length}}]</h1>
       <div v-for="action in event.actions">
        <h2>
         {{action.actor}}.{{action.method}}({{action.args}})
         <span class="uuid">{{action.uuid}}, {{action.created_timestamp|moment("YYYY-MM-DD, HH:mm:ss")}}</span>
         <span class="message" v-if="action.message">{{action.message}}, {{action.completed_timestamp|moment("YYYY-MM-DD, HH:mm:ss")}}</span>
        </h2>
        <!-- <h3 ><i class="zmdi zmdi-circle"></i>{{action.executed}}, {{action.success}}, </h3> -->
       </div>
      </div>
     </div>
    </div>
    <div class="buttons">
     <button @click="on()">ON</button>
     <button @click="dim()">DIM</button>
     <button @click="off()">OFF</button>
    </div>
   </div>
  </section>

  <script type="text/javascript" src="/static/homeghost.js"></script>
 </body>
</html>