* { box-sizing: border-box; }
html, body, #app, .ant-layout, div.view { 
    width: 100%; height: 100%; margin: 0;
}

body, div#app, div#app .ant-layout , div.view { 
    background: #001529; color: rgba(255, 255, 255, 0.75);
}

/* Header */
.ant-layout-header {
    display: grid; 
    grid-template-columns: 125px 1fr; 
    grid-gap: 15px;
    padding: 0 30px;
    height: 48px; line-height: 48px;
}
.ant-layout-header > .logo { 
    color: rgba(255, 255, 255, 0.75); 
    font-weight: bold;
}
.ant-layout-header > .logo i.zmdi { margin-right: 10px; color: #ffc107; }
.ant-layout-header > .logo .ant-badge-status { line-height: normal; }
.ant-layout-header > .logo .ant-badge-dot { 
    right: -7px; top: 7px;
    cursor: pointer; 
    box-shadow: none;
}
.ant-layout-header > .ant-menu { line-height: 48px; }

.ant-menu { font-size: 11px; }
.ant-menu .ant-menu-item-selected { background-color: transparent !important; }


/* Content */
.ant-layout-content { padding: 15px 30px; }



div.actors { margin-bottom: 15px; }
div.actors ul {
    list-style-type: none;
    margin: 0; padding: 0;
    width: 100%; z-index: 999;
}
div.actors > ul {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: 10px;
}
div.actors ul li { position: relative; }
div.actors ul li > div:not(.dropdown) {
    position: relative; padding: 10px; 
    /*background: rgba(0, 0, 0, 0.5); */
    background: #000D19; border: 0;
    cursor: pointer; font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6); 
}
div.actors ul li > div:not(.dropdown):hover,
div.actors ul li > div.active { background: #0A111D; }
div.actors ul li > div.actor { border-radius: 4px; padding-left: 40px; }
div.actors ul li > div.actor.active { 
    border-bottom-left-radius: 0; border-bottom-right-radius: 0;
}
div.actors ul li > div.actor-event { padding-left: 16px; }
div.actors ul li > div.actor-event > i.zmdi { 
    margin-right: 11px; width: 10px;
    color: rgba(255, 255, 255, 0.25); text-align: center;
}
div.actors ul li:last-of-type > div.actor-event {
    border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
}

div.actors div.actor { font-size: 0.6rem; padding-left: 30px; }
div.actors div.actor::after { 
    position: absolute; top: 13px; left: 11px;
    width: 20px; text-align: center;
    font: normal normal normal 1.3rem 'Material-Design-Iconic-Font';
    content: '\f1b1'; color: rgba(255, 255, 255, 0.2);
}
div.actors div.actor.tellstickactor::after { content: '\f36c'; }
div.actors div.actor.harmonyactor::after { content: '\f2c5'; }
div.actors div.actor > h1 { 
    font-size: 0.8rem; margin: 0;
    font-weight: normal; color: rgba(255, 255, 255, 0.8);
}
div.actors div.actor:not(.dim) > h1 { color: #2196f3; }
div.actors div.actor > span { font-size: 0.6rem; color: #c2185b; }

div.actors div.actor + div.dropdown { 
    position: absolute; left: 0; width: 100%;
    color: #FFF; z-index: 99;
    visibility: hidden; opacity: 0;
    transition: all 250ms ease-in-out;
}
div.actors div.actor.active + div.dropdown {
    visibility: visible; opacity: 1;
}




div.log { height: calc(100% - 80px); }
div.log div.event {
    padding: 10px; margin-right: 15px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
}
div.log div.event:not(:last-of-type) { margin-bottom: 5px; }
div.log div.event.dim { background: transparent; }

div.log div.event h1,
div.log div.event h2,
div.log div.event h3 { 
    margin: 0 0 2px 0; font-weight: normal; 
    color: rgba(255, 255, 255, 0.3);
}
div.log div.event h1 { font-size: 0.8rem; }
div.log div.event:not(.dim) h1 { color: #FFC107; }
div.log div.event h2 { font-size: 0.7rem; color: #8BC34A; }
div.log div.event h2 > span { 
    font-size: 0.6rem; 
    color: rgba(255, 255, 255, 0.3);
}
div.log div.event h2 > span.message { float: right; }
div.log div.event h3 { font-size: 0.7rem; }
div.log div.event i.zmdi { margin-right: 5px; }






.vb > .vb-dragger { z-index: 5; width: 5px; right: 0; }
.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(48, 121, 244,.1);
    border-radius: 20px;
    height: 100%;
    display: block;
}
.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.3);
}
.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px; height: 100%;
}
.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px; height: 100%;
}
.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
}