<!doctype html>

<html class="no-js" lang="no">
 <head>
  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="/static/material-design-iconic-font.min.css" rel="stylesheet">
  <link href="/static/vue-antd.min.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">

  <script type="text/javascript" src="/static/vue.js"></script>
  <script type="text/javascript" src="/static/vue-resource.min.js"></script>
  <script type="text/javascript" src="/static/vue-router.js"></script>
  <script type="text/javascript" src="/static/vuex.min.js"></script>
  <script type="text/javascript" src="/static/vue-socketio.js"></script>
  <script type="text/javascript" src="/static/vue-antd.min.js"></script>
  <script type="text/javascript" src="/static/vue-moment.js"></script>
  <script type="text/javascript" src="/static/vue-bar.js"></script>
  <script type="text/javascript" src="/static/vue-click-outside.js"></script>
  <script type="text/javascript" src="/static/utils.js"></script>
 </head>

 <body>
  <div id="app">
   <a-layout>
    <!-- Header -->
    <a-layout-header class="header">
     <!-- Logo -->
     <div class="logo">
      <a-badge dot
        :title="isConnected ? 'Disconnect' : 'Connect'" 
        :status="isConnected ? 'success' : 'error'" 
        @click="toggleConnection">
       <i class="zmdi zmdi-flash"></i>HomeGhost
      </a-badge>
     </div>

     <!-- Menu -->
     <a-menu
       theme="dark"
       mode="horizontal"
       :default-open-keys="[currentMenuKey]"
       @click="handleMenuClick">
      <a-menu-item key="/">
       <a-icon type="dashboard"></a-icon>
       <span>Dashboard</span>
      </a-menu-item>
      <a-menu-item key="/config">
       <a-icon type="setting"></a-icon>
       <span>Config</span>
      </a-menu-item>
     </a-menu>
    </a-layout-header>

    <!-- Content -->
    <a-layout>
     <a-layout-content>
      <router-view></router-view>
     </a-layout-content>
    </a-layout>

   </a-layout>

   <!-- Footer -->
   <footer>SID: {{socketId}}</footer>
  </div>

  [% for plugin in plugins %]
  [[plugin]]<br>
  [% endfor %]

  <script type="text/javascript" src="/static/homeghost.components.js"></script>
  <script type="text/javascript" src="/static/homeghost.views.js"></script>
  <script type="text/javascript" src="/static/homeghost.js"></script>
 </body>
</html>